body {
    background: #33cccc;
    height: 95vh;
}

.header {
    display: grid;
    padding; 10px;
    margin; 20px;
    justify-content: center;

}

.headerItems {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-weight: 400;

}

.moveCounter {
    padding: 0px 10px 0px 10px;
}

.reset {
    padding: 0px 10px 0px 10px;
}

.mainContainer {
    display: flex;
/*
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: repeat(4, 140px);
    grid-gap: 20px;
*/
    justify-content: center;
    align-content: center;
    width: 100w;
    height: 100vh;

}

.cardContainer {
    width: 300px;
    height: 400px;
/*    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);*/
    perspective: 1000px;


    }

.flipCard {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
       
}

.cardContainer.flip .flipCard {
    transform: rotateY(180deg);
} 

.cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;  
    justify-content: center;
    align-content: center;
    font-size: 2rem;
     border-radius: 15px;
}
   .cardFront {
    background:  #009900;
}

    .cardBack {

    background:  #9F1B5D;
    transform: rotateY(180deg);
    }

 

