body {
    background: #33cccc;
    height: 95vh;
}

.header {
    display: grid;
    padding; 10px;
    margin; 20px;
    justify-content: center;

}

.headerItems {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-weight: 400;

}

.moveCounter {
    padding: 0px 10px 0px 10px;
}

.reset {
    padding: 0px 10px 0px 10px;
}

.mainContainer {
    display: grid;
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: repeat(4, 140px);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;

}

.item {
    display: grid;
    height: 100%;
    background:  #009900;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    
}

.back {
    border: 1px solid red;
    
    
}


